* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background: #a72d12;
    background-image: url("../img/background.jpg");
    min-height: 100vh;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    border-radius: 5px;
    letter-spacing: 2px;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
}

header h1 {
    padding: 14px;
    background: -moz-linear-gradient(158deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(158deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    /* opera 11.10+ */
    background: -o-linear-gradient(158deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#F400FF', GradientType=1);
    /* ie 10+ */
    background: -ms-linear-gradient(158deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    /* global 94%+ browsers support */
    background: linear-gradient(158deg, rgba(244, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    box-shadow: inset 2px 2px 30px 4px rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 1px;
    border-radius: 12px;
}

form button img {
    width: 40px;
    height: 40px;
}

form button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    outline: none;
    cursor: pointer;
}

form button:hover {
    background: #00f7ff;
}

form input {
    height: 40px;
    width: 400px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border: none;
    outline: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

li {
    list-style-type: none;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo {
    text-align: center;
    padding: 5px;
    background-color: #ffffff41;
    color: #000000;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid rgb(186, 0, 0); */
    box-shadow: 4px 4px 6px #0000009e;
    border-radius: 40px;
    margin-bottom: 3px;
    letter-spacing: 2px;
    font-size: 20px;
}

.todo-item {
    flex: 1;
    width: 70%;
    word-wrap: break-word;
    padding-left: 30px;
}

.trash-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-right: 10px;
}

.trash-btn:hover {
    background-color: #cc0606;
}

.complete-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.complete-btn:hover {
    background-color: #000000;
}

.trash-btn img,
.complete-btn img {
    width: 25px;
    height: 25px;
}

.delete {
    transition: all 2s;
    transform: translateY(120px) rotate(25deg);
    background-color: #cc0606;
    opacity: 0;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    text-align: center;
    background-color: #ffffff62;
    color: #000;
    height: 45px;
    min-width: 200px;
    display: flex;
    font-size: 17px;
    margin-left: 8px;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid salmon;
    transform: translateY(-20px) translateX(150px);
}

.completed {
    transition: all 3s;
    width: 40%;
    text-decoration: line-through;
}

footer {
    margin-top: 25px;
    padding: 15px 0px;
    height: 80px;
    width: 100%;
    color: #00f7ff;
    background: #000000;
}

footer p {
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .selected {
        transform: translateY(-20px) translateX(0px);
    }
}

@media screen and (max-width:922px) {
    .todo {
        width: 100%;
    }

    .completed {
        width: 80%;
        padding-right: 20px;
    }
}